@font-face {
  font-family: 'Lyon Arabic Display';
  src: url('https://archive.org/download/lyon-arabic-display-black/lyon-arabic-display-black.otf') format('otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lyon Arabic Display';
  src: url('https://archive.org/download/lyon-arabic-display-black/lyon-arabic-display-black.otf') format('otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
