@font-face {
  font-family: 'LyonArabicDisplayBlack';
  src: url('https://archive.org/download/lyon-arabic-display-black/lyon-arabic-display-black.otf') format('woff2');
  font-weight: 900;
  font-style: normal;
}
