@font-face {
  font-family: 'Lyon Arabic Display';
  src: url('https://github.com/abbeedo/abbeedo7/blob/main/lyon-arabic-display-black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
