@font-face {
  font-family: 'Lyon Arabic Display';
  src: url('...Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lyon Arabic Display';
  src: url('...Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
